Source: {{ name }}
Section: utils
Priority: optional
Maintainer: {{ maintainer_name }} <{{ maintainer_email }}>
Build-Depends: debhelper (>= 9),
# Because they all need to re-run autoconf/automake
 dh-autoreconf | debhelper (>= 9.20160403~),
# To use dh --with bash-completion
 bash-completion,
# Keep this very old BerkeleyDB because it this one used by BTC
# If built with different version wallet.dat may become incompatible
# Fun facts: most coins just fork BTC with no changes, explaining why
# They are all stuck to this old version as well
 libdb4.8++-dev,
# BOOST depencencies
# Most coins requires 1.49, see BOOST_VERSION in configure.ac
 libboost-system-dev (>= 1.49~),
 libboost-filesystem-dev (>= 1.49~),
 libboost-program-options-dev (>= 1.49~),
 libboost-thread-dev (>= 1.49~),
 libboost-chrono-dev (>= 1.49~),
 libboost-test-dev (>= 1.49~),
# MiniUPNPC for automatic port DNAT (P2P)
 libminiupnpc-dev,
# Graphical wallet needs QT5 or QT4
 qtbase5-dev-tools,
# pkg-config
 pkg-config,
# To generated distribution tag in package version
 lsb-release,
# To generate missing png/xpm icons
 imagemagick,
Standards-Version: 4.1.3
Homepage: {{ git_url }}
Vcs-Git: {{ git_url }}
Vcs-Browser: {{ git_url }}

Package: {{ name }}d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: {{ name|capitalize }} p2p digital currency - daemon
 {{ name|capitalize }} is a free open source peer-to-peer electronic cash system that
 is completely decentralized, without the need for a central server or
 trusted parties.  Users hold the crypto keys to their own money and
 transact directly with each other, with the help of a P2P network to
 check for double-spending.
 .
 This package provides the daemon, {{ name }}d, and the CLI tool
 {{ name }}-cli to interact with the daemon.

Package: {{ name }}-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: {{ name|capitalize }} p2p digital currency - Qt GUI
 {{ name|capitalize }} is a free open source peer-to-peer electronic cash system that
 is completely decentralized, without the need for a central server or
 trusted parties.  Users hold the crypto keys to their own money and
 transact directly with each other, with the help of a P2P network to
 check for double-spending.
 .
 This package provides {{ name|capitalize }}-qt, a GUI for {{ name|capitalize }} based on Qt.

Package: {{ name }}-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: {{ name|capitalize }} p2p digital currency - standalone transaction tool
 {{ name|capitalize }} is a free open source peer-to-peer electronic cash system that
 is completely decentralized, without the need for a central server or
 trusted parties.  Users hold the crypto keys to their own money and
 transact directly with each other, with the help of a P2P network to
 check for double-spending.
 .
 This package provides {{ name }}-tx, a command-line transaction creation
 tool which can be used without a {{ name }} daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
