#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

# Get version from changelog as well as lsb_release
# to compute unique build version (useful for repo mirroring systems doing file pooling)
PKG_VERSION  := $(shell dpkg-parsechangelog | grep -E '^Version:' | cut -d' ' -f2)
DIST_NAME    := $(shell lsb_release -si)
DIST_RELEASE := $(shell lsb_release -sc)
DIST_VERSION := $(shell lsb_release -sr)
PKG_VERSION_TAG := $(PKG_VERSION)+$(DIST_NAME).$(DIST_RELEASE).$(DIST_VERSION)

#DEB_MAKE_CHECK_TARGET = test_{{ name }}
#build/{{ name }}d::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_{{ name }})

%:
	dh --with bash-completion --parallel $@

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) distclean; fi
	rm -rf Makefile.in aclocal.m4 configure src/Makefile.in src/{{ name }}-config.h.in src/build-aux src/qt/Makefile.in src/qt/test/Makefile.in src/test/Makefile.in
{%- if name == 'infinex' %}
	sed -i 's!CPPFLAGS_FOR_BUILD =!CPPFLAGS_FOR_BUILD +=!' src/secp256k1/Makefile.am
	sed -i 's!CFLAGS_FOR_BUILD =!CPPFLAGS_FOR_BUILD +=!' src/secp256k1/Makefile.am
{%- endif %}

# Yea, autogen should be run on the source archive, but I like doing git archive
override_dh_auto_configure:
{%- if name == 'infinex' %}
	# Infinex ships non executable shell scripts
	find . -type f -name '*.sh' -exec chmod 0755 {} \;
	# Infinex also use += before = which make autogen fail
	sed -i 's!CPPFLAGS_FOR_BUILD +=!CPPFLAGS_FOR_BUILD =!' src/secp256k1/Makefile.am
	sed -i 's!CFLAGS_FOR_BUILD +=!CPPFLAGS_FOR_BUILD =!' src/secp256k1/Makefile.am
{%- endif %}
	./autogen.sh
	./configure --with-gui=qt5

override_dh_gencontrol:
	dh_gencontrol -- -v"$(PKG_VERSION_TAG)"

override_dh_auto_test:
