#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

# Get version from changelog as well as lsb_release
# to compute unique build version (useful for repo mirroring systems doing file pooling)
PKG_VERSION  := $(shell dpkg-parsechangelog | grep -E '^Version:' | cut -d' ' -f2)
DIST_NAME    := $(shell lsb_release -si)
DIST_RELEASE := $(shell lsb_release -sc)
DIST_VERSION := $(shell lsb_release -sr)
PKG_VERSION_TAG := $(PKG_VERSION)+$(DIST_NAME).$(DIST_RELEASE).$(DIST_VERSION)

#DEB_MAKE_CHECK_TARGET = test_{{ name }}
#build/{{ name }}d::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_{{ name }})

# For coin based on older versions
export CC_FOR_BUILD=$(CC)
export CLAGS_FOR_BUILD=$(CFLAGS)
export CPPFLAGS_FOR_BUILD=$(CPPFLAGS)

%:
	dh $@ --with bash-completion,autoreconf --parallel

override_dh_auto_clean:
	dh_auto_clean
	rm -rf Makefile.in aclocal.m4 configure src/Makefile.in src/{{ name }}-config.h.in src/build-aux src/qt/Makefile.in src/qt/test/Makefile.in src/test/Makefile.in
	sed -i '/^CPPFLAGS_FOR_BUILD =/d' src/secp256k1/Makefile.am
	sed -i '/^CFLAGS_FOR_BUILD =/d' src/secp256k1/Makefile.am
	sed -i 's!-Wno-unused-parameter -Wno-implicit-fallthrough"$$!-Wno-unused-parameter -Wno-self-assign -Wno-implicit-fallthrough"!' configure.ac
	sed -i 's!-Wno-unused-parameter"$$!-Wno-unused-parameter -Wno-self-assign"!' configure.ac
{%- if name == 'tune' %}
	rm -f share/pixmaps/{{ name }}128.png share/pixmaps/{{ name }}32.xpm share/pixmaps/{{ name }}16.xpm
{%- endif %}

# Fix autoconf/automake file before running dh-autoreconf
override_dh_autoreconf:
	
	# Infinex, Vivo use += before = which make autogen fail
	# It seems somehow related to the date of fork because newer coins do not have this issue
	sed -i 's!^\(CPPFLAGS_FOR_BUILD +=.*\)!CPPFLAGS_FOR_BUILD =\n\1!' src/secp256k1/Makefile.am
	sed -i 's!^\(CFLAGS_FOR_BUILD +=.*\)!CFLAGS_FOR_BUILD =\n\1!' src/secp256k1/Makefile.am
	
	# This option is not available on older GCC
	# https://github.com/bitcoin/bitcoin/pull/7954
	# Newer forks do not have this issue, older may an list of CFLAGS varies
	sed -i 's!-Wno-unused-parameter -Wno-self-assign -Wno-implicit-fallthrough"$$!-Wno-unused-parameter -Wno-implicit-fallthrough"!' configure.ac
	sed -i 's!-Wno-unused-parameter -Wno-self-assign"!-Wno-unused-parameter"$$!' configure.ac
{%- if name == 'tune' %}
	
	mkdir -p share/pixmaps
	convert -resize '128x128!' src/qt/res/icons/bitcoin.png share/pixmaps/{{ name }}128.png
	convert -resize '32x32!' src/qt/res/icons/bitcoin.png share/pixmaps/{{ name }}32.xpm
	convert -resize '16x16!' src/qt/res/icons/bitcoin.png share/pixmaps/{{ name }}16.xpm
{%- endif %}
	
	# At least Infinex and VIVO ship non executable shell scripts
	find . -type f -name '*.sh' -exec chmod 0755 {} \;
	
	# Finally run dh_autoreconf
	dh_autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --with-gui=qt5

override_dh_gencontrol:
	dh_gencontrol -- -v"$(PKG_VERSION_TAG)"

override_dh_auto_test:
