#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

# Get version from changelog as well as lsb_release
# to compute unique build version (useful for repo mirroring systems doing file pooling)
PKG_VERSION  := $(shell dpkg-parsechangelog | grep -E '^Version:' | cut -d' ' -f2)
DIST_NAME    := $(shell lsb_release -si)
DIST_RELEASE := $(shell lsb_release -sc)
DIST_VERSION := $(shell lsb_release -sr)
PKG_VERSION_TAG := $(PKG_VERSION)+$(DIST_NAME).$(DIST_RELEASE).$(DIST_VERSION)

# We need a release "version" when building on Debian testing/unstable
ifeq ($(DIST_VERSION),$(filter $(DIST_VERSION),testing unstable))
  PROPER_DIST_VERSION := 10
else
  PROPER_DIST_VERSION := $(DIST_VERSION)
endif

# Some variables to determine which arch we are building on
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_BUILD_ARCH := $(shell dpkg-architecture -qDEB_BUILD_ARCH)
DEB_BUILD_BITS := $(shell dpkg-architecture -qDEB_BUILD_ARCH_BITS)

{%- if name in [ 'raven', 'pigeon' ] %}
# Raven and Pigeon do not build on old Debian/Ubuntu
# Before Debian Stretch
ifeq ($(DIST_NAME),Debian)
  ifeq ($(shell dpkg --compare-versions $(PROPER_DIST_VERSION) lt 9 && echo yes),yes)
    CPPFLAGS += -fPIC
  endif
endif
# Before Ubuntu Artful
ifeq ($(DIST_NAME),Ubuntu)
  ifeq ($(shell dpkg --compare-versions $(PROPER_DIST_VERSION) lt 17.10 && echo yes),yes)
    CPPFLAGS += -fPIC
  endif
endif
{%- endif %}

CONFIGURE_FLAGS :=
DEBHELPER_FLAGS :=
# Recent coins disable coin-tx binary by default
ifeq ($(shell grep -q -- '--with-tx' configure.ac && echo yes),yes)
  {%- if name == 'raven' and version is dpkg_cmp_ver('ge', '2.0.1') %}
  # Raven >= 2.0.1
  # https://github.com/RavenProject/Ravencoin/issues/376
  CONFIGURE_FLAGS += --with-tx=no
  DEBHELPER_FLAGS += --no-package=raven-tx
  {%- else %}
  CONFIGURE_FLAGS += --with-tx=yes
  {%- endif %}
endif

# For coin based on older versions
export CC_FOR_BUILD=$(CC)
export CLAGS_FOR_BUILD=$(CFLAGS)
export CPPFLAGS_FOR_BUILD=$(CPPFLAGS)

%:
	dh $@ --with bash-completion,autoreconf --parallel -- $(DEBHELPER_FLAGS)

override_dh_auto_clean:
	-dh_auto_clean
	rm -rf Makefile.in aclocal.m4 configure src/Makefile.in src/{{ name }}-config.h.in src/build-aux src/qt/Makefile.in src/qt/test/Makefile.in src/test/Makefile.in
	sed -i '/^CPPFLAGS_FOR_BUILD =/d' src/secp256k1/Makefile.am
	sed -i '/^CFLAGS_FOR_BUILD =/d' src/secp256k1/Makefile.am
	sed -i 's!-Wno-unused-parameter -Wno-implicit-fallthrough"$$!-Wno-unused-parameter -Wno-self-assign -Wno-implicit-fallthrough"!' configure.ac
	sed -i 's!-Wno-unused-parameter"$$!-Wno-unused-parameter -Wno-self-assign"!' configure.ac
{%- if name in [ 'tune', 'bridgecoin' ] %}
	rm -f share/pixmaps/{{ name }}128.png share/pixmaps/{{ name }}32.xpm share/pixmaps/{{ name }}16.xpm
{%- endif %}

# Fix autoconf/automake file before running dh-autoreconf
override_dh_autoreconf:
	
	# Infinex, Vivo use += before = which make autogen fail
	# It seems somehow related to the date of fork because newer coins do not have this issue
	sed -i 's!^\(CPPFLAGS_FOR_BUILD +=.*\)!CPPFLAGS_FOR_BUILD =\n\1!' src/secp256k1/Makefile.am
	sed -i 's!^\(CFLAGS_FOR_BUILD +=.*\)!CFLAGS_FOR_BUILD =\n\1!' src/secp256k1/Makefile.am
	
	# This option is not available on older GCC
	# https://github.com/bitcoin/bitcoin/pull/7954
	# Newer forks do not have this issue, older may an list of CFLAGS varies
	sed -i 's!-Wno-unused-parameter -Wno-self-assign -Wno-implicit-fallthrough"$$!-Wno-unused-parameter -Wno-implicit-fallthrough"!' configure.ac
	sed -i 's!-Wno-unused-parameter -Wno-self-assign"$$!-Wno-unused-parameter"!' configure.ac
{%- if name in [ 'tune', 'bridgecoin' ] %}
	
	mkdir -p share/pixmaps
	convert -resize '128x128!' src/qt/res/icons/bitcoin.png share/pixmaps/{{ name }}128.png
	convert -resize '32x32!' src/qt/res/icons/bitcoin.png share/pixmaps/{{ name }}32.xpm
	convert -resize '16x16!' src/qt/res/icons/bitcoin.png share/pixmaps/{{ name }}16.xpm
{%- endif %}
{%- if name in [ 'biblepay' ] %}
	
	mkdir -p share/pixmaps
	convert -resize '128x128!' share/pixmaps/dash128.png share/pixmaps/{{ name }}128.png
	convert -resize '32x32!' share/pixmaps/dash128.png share/pixmaps/{{ name }}32.xpm
	convert -resize '16x16!' share/pixmaps/dash128.png share/pixmaps/{{ name }}16.xpm
{%- endif %}
{%- if name in [ 'bitcoindiamond' ] %}
	
	cp -v share/pixmaps/bitcoin128.png share/pixmaps/{{ name }}128.png
	cp -v share/pixmaps/bitcoin32.xpm share/pixmaps/{{ name }}32.xpm
	cp -v share/pixmaps/bitcoin16.xpm share/pixmaps/{{ name }}16.xpm
{%- endif %}
	
	# At least Infinex and VIVO ship non executable shell scripts
	find . -type f -name '*.sh' -exec chmod 0755 {} \;
	
	# Finally run dh_autoreconf
	dh_autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --with-gui=qt5 $(CONFIGURE_FLAGS)

override_dh_gencontrol:
	dh_gencontrol -- -v"$(PKG_VERSION_TAG)"

override_dh_auto_install:
	dh_auto_install
	# Conf file
	# Some coin did not change filename so it's still bitcoin.conf
	install -o root -g root -m 0640 \
	  $(CURDIR)/contrib/debian/examples/*.conf \
	  $(CURDIR)/debian/{{ name }}d/etc/{{ name }}/{{ name }}d.conf
	# Rsyslog config for systemd/journald
	install -o root -g root -m 0644 \
	  "$(CURDIR)/debian/{{ name }}d.rsyslog" \
	  "$(CURDIR)/debian/{{ name }}d/etc/rsyslog.d/{{ name }}d.conf"

override_dh_fixperms:
	dh_fixperms -Xetc/{{ name }}

override_dh_auto_test:
